# Node
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
**/.env

# Build / cache
**/.cache
**/dist
**/build
**/.next
**/.turbo

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# SQL dumps (si no quieres subirlos)
*.sql
