# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / cache
dist/
build/
.cache/

# Dumps / backups (si no quieres subir tu BD)

*.dump
*.zip
*.rar

# Logs
logs/
*.log
